# Python virtual environments
.venv/
venv/
ENV/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so

# Uploads & Outputs
output/
uploads/
test_scratch/
*.zip

# OS files
.DS_Store
Thumbs.db
